* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
}

.checkeable input[type=checkbox] {
    display: none;
}

body {
    margin: 0;
    background: url(../img/local/terraza.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    background-attachment: fixed;
}

/*----------------- CARTA -----------------*/
.bg-light.rounded.mt-2 {
    height: 500px;
    overflow: auto;
}

/* Estilo del scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Estilo de la barra del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
}

/* Hover del scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
/*--------------------------------------*/

.layered.box {
    min-width: 400px;
    height: 50vh;
    padding: 20px;
    background-color: white;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 1em;
    align-items: center;
    flex: 0 1 20%;
}

#botonCompra{
    margin: 0 auto;
    display: block;
}

#totalFixed {
    margin-top: 2vh;
}

/*PIE DE PAGINA PEGADO ABAJO*/
.cookie {
    position: absolute;
    padding: 10px;
    /*bottom: 0;*/
    max-width: 80%;
    color: black;
    z-index: 3;
    left: 0;
    transition: top 0.5s;
    top: -150%; 
}

/*z-index: 4; position: absolute; transition: top 0.5s; top: -150%; right: 0; background-color: #f44336; color: white; padding: 10px;"*/

.main {
    margin-bottom: 250px;
}

footer {
    position: absolute;
    width: 100%;
    min-height: 200px;
    bottom: 0px;
    left: 0;
    color: white;
}

.table_grid {
    text-align: center;
    display: grid;
}

.direccion_grid {
    text-align: center;

}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .layered.box {
        height: 30vh; /* altura del 30% del viewport height */
    }
}