section {
    padding: 3rem;
}

.home {
    /*    margin-left: 100px;
        margin-right: 100px;*/
}

.carousel {
    margin-top: 100px;
    background: #eee;
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home .home-slider .slide .content {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image {
    flex: 1 1 45rem;
    margin-bottom: 60px;
}

.home .home-slider .slide .image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    float: right;
}


.home .home-slider .slide .content span {
    color: var(--green);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: 0.5rem 10px 0px 0px;
    line-height: 1.5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--green);
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    opacity: 1;
}

.carousel-indicators button.active {
    background-color: var(--green);
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

@media (max-width: 600px) {

    .home .home-slider .slide .image img {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
            rgba(0, 0, 0, 0.06) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px,
            rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    #carouselExampleDark´{
        padding: 1rem !important;
    }

    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }

}